<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <IconUrl>http://aka.ms/VsExtensibilityIcon</IconUrl>
  <ProjectUrl>http://go.microsoft.com/fwlink/?LinkID=746386</ProjectUrl>
  <LicenseUrl>http://aka.ms/VSProjectSystemExtensibilityPreview</LicenseUrl>
  <Authors>bmarshall</Authors>
  <Owners>bmarshall</Owners>
  <Copyright>© Ollon, LLC. All rights reserved.</Copyright>
  <Description>Generates the AssemblyInfo.cs file.</Description>
  <Summary>Generates the AssemblyInfo.cs file.</Summary>
  <Keywords>Generate, AssemblyInfo, ASM</Keywords>
</NuGetPack>