<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <IconUrl>http://aka.ms/VsExtensibilityIcon</IconUrl>
  <ProjectUrl>http://go.microsoft.com/fwlink/?LinkID=746386</ProjectUrl>
  <LicenseUrl>http://aka.ms/VSProjectSystemExtensibilityPreview</LicenseUrl>
  <Authors>bmarshall</Authors>
  <Owners>bmarshall</Owners>
  <Copyright>© Ollon, LLC. All rights reserved.</Copyright>
  <Description>Build tools used for building extensions to the Visual Studio project system.</Description>
  <Summary>Visual Studio Project System</Summary>
  <Keywords>Xaml, Rules, Project, ProjectSystem</Keywords>
</NuGetPack>