<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <IconUrl>http://aka.ms/VsExtensibilityIcon</IconUrl>
  <ProjectUrl>https://github.com/Ollon/NuGetPackages</ProjectUrl>
  <LicenseUrl>https://raw.githubusercontent.com/Ollon/NuGetPackages/master/LICENSE</LicenseUrl>
  <Authors>bmarshall</Authors>
  <Owners>bmarshall</Owners>
  <Copyright>© Ollon, LLC. All rights reserved.</Copyright>
  <Description>Amalgamates registration attributes for use in developing Visual Studio Packages.</Description>
  <Summary>Amalgamates registration attributes for use in developing Visual Studio Packages.</Summary>
  <Keywords>VSPackage, Attributes</Keywords>
</NuGetPack>